.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-neavy-blue{
  background-color: #272343;
  color:#ffffff; 
  margin-bottom:4rem;
  padding-inline:1% !important;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.navbar-neavy-blue .navbar-brand,.navbar-neavy-blue .nav-link{
  color:#ffffff; 
}
.navbar-neavy-blue .navbar-brand:hover,.navbar-neavy-blue .nav-link:hover,.navbar-neavy-blue .navbar-brand:focus,.navbar-neavy-blue .nav-link:focus{
  color:#bae8e8; 
}
.footer-copyright {
  background-color: #272343;
  color: #bae8e8;
  padding: 15px 30px;
  text-align: center;
}
.footer-copyright-link {
  color: #bae8e8;
  text-decoration: none;
}
.footer-copyright-text {
  color: #bae8e8;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}
tr:nth-child(odd) {
  background-color: #fff;
  box-shadow: none;
}
tr:nth-child(even) {
  background-color: #e3f6f5;
  box-shadow: none;
}
.formfield * {
  vertical-align: middle;
}